// partials
@import "./modules/variables";
@import "./modules/navbar";

// fonts
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

* {
    font-family: "Courier", sans-serif;
    padding: 0;
    margin: 0;
}

// home page

#hero {
    background-color: $purple;
    color: $white;
    padding: $large-spacing;
}

#home {
    padding: $large-spacing;

    #message {
        margin-bottom: $med-spacing;
    }


}

// footer
#footer {
    background: $yellow;

    .footer-section {
        padding: $med-spacing;

        h3 {
            margin-bottom: $small-spacing
        }

        ul {
            margin-bottom: $med-spacing;

            li {
                list-style-type: none;
            }
        }
    }

    #bottom-bar {
        font-size: 12px;
        text-align: center;
        padding: $small-spacing;
        background: $purple;
        color: $white;
    }
}

// news page


.item-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 20px;

    .item {
        padding: $med-spacing;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: 50% 0%;
        }
    }
}

.item {
    img {
        max-width: 300px;
    }
}

// artist page

#artist-page {
    padding: 30px;

    #banner {
        background: $lightyellow;
        padding: $med-spacing;
        margin-bottom: $med-spacing;
    }

    #nickname {
        font-family: 'Inspiration', serif;
        font-size: 48px;
    }

    #diet-banner {
        margin-bottom: 40px;
    }
}

// media queries
@import "./modules/tablet-styles";
@import "./modules/desktop-styles";