// partials
@import "./modules/variables";
@import "./modules/navbar";

// fonts
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

* {
    font-family: "Courier", sans-serif;
    padding: 0;
    margin: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.item-container a {
    color: black;
    text-decoration: none;
}

// home page

#hero {
    background-color: $purple;
    color: $white;
    padding: $large-spacing;
}

#home {
    padding: $large-spacing;

    #message {
        margin-bottom: $med-spacing;
    }


}

// footer
#footer {
    background: $yellow;

    .footer-section {
        padding: $med-spacing;

        h3 {
            margin-bottom: $small-spacing
        }

        ul {
            margin-bottom: $med-spacing;

            li {
                list-style-type: none;
            }
        }
    }

    #bottom-bar {
        font-size: 12px;
        text-align: center;
        padding: $small-spacing;
        background: $purple;
        color: $white;
    }
}

// news page


.item-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 20px;

    .item {
        padding: $med-spacing;

        &.search-result {
            background-color: lightpink;
            border: 1px solid $purple;
        }

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: 50% 0%;
        }


    }
}

.item {
    img {
        max-width: 300px;
    }
}

// news item
#read-more {
    border: none;
    padding: 2px 8px;
    cursor: pointer;
}

#news-item {
    img {
        max-width: 300px;
    }

    padding: 30px;
}

// artist page

#artist-page {
    padding: 30px;

    #banner {
        background: $lightyellow;
        padding: $med-spacing;
        margin-bottom: $med-spacing;
    }

    #nickname {
        font-family: 'Inspiration', serif;
        font-size: 48px;
    }

    #diet-banner {
        margin-bottom: 40px;
    }

    img {
        max-width: 400px;
    }
}

// genres

#genre-name {
    padding: 30px;
}

.genre-pill {
    padding: 5px 15px;
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
}

// back button
#back-button {
    border: none;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

// product page
#product-item {
    padding: 40px;

    h1,
    h2 {
        margin-bottom: 20px;
    }

    img {
        max-width: 250px;
    }

    .product-description {
        padding: 10px;
        background: #f7f7f7;
        margin-bottom: 5px;
    }
}

// search page

#results-page {
    padding: 40px;
}

// media queries
@import "./modules/tablet-styles";
@import "./modules/desktop-styles";